
body,
html {
  font-family: Ubuntu, sans-serif;
  background: #f1f1f1;
}


.container {
  max-width: 1080px;
  display: block;
  margin: 0 auto;
  padding: 0 15px;
}

.main_table {
  position: relative;
  padding: 50px 15px 10px 15px;
  border-radius: 1px;
  background-color: #ffffff
}

.text_center {
  text-align: center;
}

h1 {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
  color: #001f3f;
}

h2 {
  font-size: 22px;
  margin-bottom: 20px;
}

.tabed_tab_wrapper {
  padding: 20px;
}


.section {
  margin: 20px 0;
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 0;
  right: 0;
}

.links li {
  padding: 0;
  display: inline-block;
  margin-right: 5px;
}
.links svg {
  width: 35px;
  height: 35px;
}
.links a {
  padding: 5px;
  display: inline-block;
  transition: fill 300ms ease;
  fill: #000;
}
.links a:hover {
  fill: #555;
}

footer {
  padding-top: 20px;
}

code {
  color: #001f3f;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
  display: inline-block;
  width: 100%;
  line-height: 1.6;
  padding: 10px 15px;
  overflow-x: auto;
  background-color: #f0f0f0;
}


.table th {
  font-weight: bold;
}
